extends layout
block content
    h1= title
    if (toShow == null)
       h2 No instance to update
    else
    - let jacketid = toShow._id
    - let jacket_name = toShow.jacket_name
    - let cloth = toShow.cloth
    - let cost = toShow.cost
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{jacketid}
    - let actionid = "/resource/jacket/" + jacketid
    form(id='jacketForm', action= actionid, method="PUT")
        div.form-group
        label.jacketAttr(for='jacket_name') jacket name
        input#jacket_name(type='text', name='jacket_name', value= jacket_name )
        div.form-group
        label.jacketAttr(for='cloth') jacket cloth
        input#cloth(type='text', name='cloth', value= cloth )
        div.form-group
        label.jacketAttr(for='cost') jacket cost
        input#cost(type='number', name='cost', value= cost )
        input(type="submit")(style="color:red; background-color:yellow;")
    script.
        document.forms['jacketForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Update succeeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Update failed " + error )
        });
        });